Repository hulk510/playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add folder
  packages/ui/src/components/atoms/README.md
  packages/ui/src/components/molecules/README.md
  packages/ui/src/components/organism/README.md
  packages/ui/src/components/template/README.md
Due: prettier --write

deps: manypkg install and fix storybookが同じ名前でエラーになるため名前変更
  apps/docs/package.json
  apps/storybooks/.eslintrc.cjs
  apps/storybooks/.gitignore
  apps/storybooks/.storybook/main.ts
  apps/storybooks/.storybook/preview.ts
  apps/storybooks/README.md
  apps/storybooks/index.html
  apps/storybooks/package.json
  apps/storybooks/public/vite.svg
  apps/storybooks/stories/components/button.stories.ts
  apps/storybooks/stories/components/card.stories.ts
  apps/storybooks/stories/components/showcase.stories.tsx
  apps/storybooks/stories/components/title.stories.ts
  apps/storybooks/tsconfig.json
  apps/storybooks/tsconfig.node.json
  apps/storybooks/vite-env.d.ts
  apps/storybooks/vite.config.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: tailwind入れてみた
  apps/playground/app/globals.css
  apps/playground/app/layout.tsx
  apps/playground/app/page.tsx
  apps/playground/package.json
  apps/playground/postcss.config.js
  apps/playground/tailwind.config.js
  apps/playground/tsconfig.json
  package.json
  packages/tailwindcss-config/package.json
  packages/tailwindcss-config/postcss.config.js
  packages/tailwindcss-config/tailwind.config.js
  packages/ui/README.md
  packages/ui/global.css
  packages/ui/src/components/atoms/test.tsx
  packages/ui/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: clean scripts
  package.json
Due: prettier --write

chore: fix
  package.json
Due: prettier --write

deps: add lint-staged
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

v9試してみた
  .eslintrc.js
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .npmrc
  apps/docs/.eslintrc.js
  apps/docs/package.json
  apps/docs/pages/_document.tsx
  apps/docs/pages/index.js
  apps/playground/.eslintrc.js
  apps/playground/app/page.tsx
  apps/playground/package.json
  apps/storybooks/package.json
  apps/web/package.json
  eslint.config.mjs
  package.json
  packages/eslint-config/astro.js
  packages/eslint-config/library.js
  packages/eslint-config/library.mjs
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/eslint-config/utils.d.mts
  packages/eslint-config/utils.mjs
  packages/playground/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

chore: 修正
  .husky/pre-push
  .lintstagedrc.json
  .lintstagedrc.mjs
Due: prettier --write

fix: scripts command
  package.json
Due: prettier --write

build: update pnpm version
  package.json
Due: prettier --write

style: commitlint追加
  .husky/commit-msg
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: tailwindcss追加
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: rename repo/playground to repo/sandbox
  apps/playground/app/hook-form-and-material/page.tsx
  apps/playground/package.json
  packages/sandbox/.eslintrc.js
  packages/sandbox/README.md
  packages/sandbox/package.json
  packages/sandbox/src/components/form.tsx
  packages/sandbox/src/index.tsx
  packages/sandbox/tsconfig.json
  packages/sandbox/turbo.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: add motion to sandbox and ui
  .lintstagedrc.mjs
  apps/playground/app/framer-motion/page.tsx
  apps/playground/app/page.tsx
  packages/sandbox/package.json
  packages/sandbox/src/components/motion.tsx
  packages/sandbox/src/index.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: motion example
  apps/playground/app/framer-motion/page.tsx
  packages/sandbox/src/components/motion.css
  packages/sandbox/src/components/motion.tsx
  packages/tailwindcss-config/tailwind.config.js
Due: prettier --write, eslint --fix

feat: 検索バーだけ作成
  packages/ui/public/assets/search.svg
  packages/ui/src/components/organism/onboarding.tsx
Due: prettier --write, eslint --fix

feat: html適当に試す用のコンポーネント作成
  apps/storybooks/.storybook/main.ts
  apps/storybooks/package.json
  apps/storybooks/stories/components/html.stories.tsx
  packages/sandbox/src/components/html.tsx
  packages/sandbox/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(playground): オンボーディングページの作成
  apps/playground/app/page.tsx
  packages/ui/.eslintrc.js
  packages/ui/public/assets/check.svg
  packages/ui/src/components/organism/onboarding.tsx
  packages/ui/src/index.tsx
Due: prettier --write, eslint --fix

fix: chromatic working/dir
  .github/workflows/frontend-checks.yaml
Due: none

ci: add dist output
  turbo.json
Due: prettier --write

fix: chromatic (#394)
  .github/workflows/frontend-checks.yaml
  turbo.json
Due: prettier --write

feat: 浮くアニメーション作ってみた
  apps/docs/package.json
  apps/docs/pages/index.mdx
  apps/playground/app/framer-motion/page.tsx
  apps/playground/app/page.tsx
  packages/sandbox/src/components/framer-motion/float.tsx
  packages/sandbox/src/components/framer-motion/sticker.png
  packages/sandbox/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: ちょっと修正
  packages/sandbox/src/components/framer-motion/float.tsx
Due: prettier --write, eslint --fix

chore(docs): tailwindcssを使えるように設定
  apps/docs/package.json
  apps/docs/pages/_app.tsx
  apps/docs/postcss.config.js
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

ci: change renovate settings
  .github/renovate.json
Due: prettier --write

feat: 浮いてるアニメーション作ってみた (#426)
  .github/renovate.json
  apps/docs/package.json
  apps/docs/pages/_app.tsx
  apps/docs/pages/index.mdx
  apps/docs/postcss.config.js
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  apps/playground/app/framer-motion/page.tsx
  apps/playground/app/page.tsx
  packages/sandbox/src/components/framer-motion/float.tsx
  packages/sandbox/src/components/framer-motion/sticker.png
  packages/sandbox/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: 使ってない画像削除
  apps/docs/public/circles.svg
  apps/docs/public/next.svg
  apps/docs/public/turborepo.svg
  apps/docs/public/vercel.svg
  apps/playground/public/circles.svg
  apps/playground/public/next.svg
  apps/playground/public/turborepo.svg
  apps/playground/public/vercel.svg
Due: none

chore: modify readme
  README.md
  apps/docs/README.md
  apps/playground/README.md
Due: prettier --write

chore: サイトの修正
  apps/docs/theme.config.tsx
Due: prettier --write, eslint --fix

chore: レイアウトとかちょい変更
  apps/docs/pages/_meta.json
  apps/docs/pages/index.mdx
Due: prettier --write

chore: ちょっと整理 (#431)
  README.md
  apps/docs/README.md
  apps/docs/pages/_meta.json
  apps/docs/pages/index.mdx
  apps/docs/public/circles.svg
  apps/docs/public/next.svg
  apps/docs/public/turborepo.svg
  apps/docs/public/vercel.svg
  apps/docs/theme.config.tsx
  apps/playground/README.md
  apps/playground/public/circles.svg
  apps/playground/public/next.svg
  apps/playground/public/turborepo.svg
  apps/playground/public/vercel.svg
Due: prettier --write, eslint --fix

fix: next側でuse clientしているが何故かエラーになるのでsandboxにもuse clientを付与
  packages/sandbox/src/components/motion.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,json}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
